@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&family=Inter:wght@400;500;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: 'Inter', sans-serif;
  --font-fira-code: 'Fira Code', monospace;
}

body {
  @apply bg-console-dark text-console-light-gray font-sans;
  background-image: radial-gradient(rgba(102, 244, 225, 0.05) 1px, transparent 1px);
  background-size: 20px 20px;
}

/* Custom scrollbar for a more console-like feel */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0d1a26;
}

::-webkit-scrollbar-thumb {
  background: #1a344d;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #66f4e1;
}

/* Recharts Customizations */
.recharts-tooltip-wrapper {
  outline: none !important;
}

.recharts-surface:focus {
    outline: none !important;
}
